<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/5/plot" value="false" />
    <add key="/intelcpu/0/load/6/plot" value="false" />
    <add key="/intelcpu/0/load/7/plot" value="false" />
    <add key="/intelcpu/0/load/8/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/atigpu/0/temperature/0/plot" value="false" />
    <add key="/atigpu/0/temperature/1/plot" value="false" />
    <add key="/atigpu/0/temperature/2/plot" value="false" />
    <add key="/atigpu/0/temperature/3/plot" value="false" />
    <add key="/atigpu/0/temperature/7/plot" value="false" />
    <add key="/atigpu/0/temperature/8/plot" value="false" />
    <add key="/atigpu/0/temperature/9/plot" value="false" />
    <add key="/atigpu/0/power/0/plot" value="false" />
    <add key="/atigpu/0/fan/0/plot" value="false" />
    <add key="/atigpu/0/control/0/plot" value="false" />
    <add key="/atigpu/0/clock/0/plot" value="false" />
    <add key="/atigpu/0/clock/1/plot" value="false" />
    <add key="/atigpu/0/voltage/0/plot" value="false" />
    <add key="/atigpu/0/load/0/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/temperature/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="/hdd/2/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="841" />
    <add key="mainForm.Location.Y" value="60" />
    <add key="mainForm.Width" value="470" />
    <add key="mainForm.Height" value="640" />
    <add key="/intelcpu/0/load/4/gadget" value="true" />
    <add key="sensorGadget.Width" value="130" />
    <add key="/intelcpu/0/load/2/gadget" value="true" />
    <add key="/hdd/0/temperature/0/values" value="H4sIAAAAAAAEANtrrHPlOddtDwaGD44SIh1eDGBw4D8AonVhMxgAAAA=" />
    <add key="/hdd/0/load/0/values" value="H4sIAAAAAAAEANtrrHPlOddtD4eUfw4SIh1eDGBw4D8A3S9QwxgAAAA=" />
    <add key="/hdd/1/temperature/0/values" value="H4sIAAAAAAAEAPvpq3flOddtDwaGJ45TNkz2YgCDA/8Bs1j8PRgAAAA=" />
    <add key="/hdd/1/load/0/values" value="H4sIAAAAAAAEAPvpq3flOddtDxnVp45TNkz2YgCDA/8BhtS0WhgAAAA=" />
    <add key="/hdd/2/load/0/values" value="H4sIAAAAAAAEAPvpq3flOddtDzvraqe1Auu8GMDgwH8AN1haFRgAAAA=" />
    <add key="/atigpu/0/temperature/0/values" value="H4sIAAAAAAAEADt19OO1p1y3PRgY2pw0mBKZGECgoc2p/g+UDRSXWXOUBcY+3AVT0+p07j6SGqdkONvrK8KcE9JJcPH2jwg19ily6xnB7AP/NfjnQpgMHU4X3sH0tjsxJMHUdzg9qkSIf6tPgosfUE6Ci4umIdg/jyH0llsmwtlnfsL0tjst6kKI181FmB/BgNC77y9C3P9zMtxf0qUI8RVsauwwtvqVJLia5TOT4Wq2zUmE25uC5JfQ+clw8W55RFj5XUKof3MZ4d9pxxFhayaNEP+xQZ0dxtY4hjB/cwHCDdwSCP9eqkL4McUdod7M7BgLjH2LGeEG9h+wNNDuFM6EMCe9HBHm858iwvYVEyIcap4i3JykhVCf2Ixgc7gh1H95jnCznCPCba1LPVgh5h/4bx4+jxEWVsEqCL2OOxBufvUFEZ4AMZW9UegCAAA=" />
    <add key="/atigpu/0/temperature/1/values" value="H4sIAAAAAAAEADt19OO1p1y3PRgY2pw0mBKZGECgoc2p/g+UDRTnvXSUBca+lAJT0+p07j5CTXFaMpz9+QLCnBPSSXDxZ+IpcPYDW7n1jGD2gf8a/HMhTIYOJyZRqPqGdqdz1jAzO5yMFiTCxZdFJsHFDygj1IumIdg/jyH0llsmwtlnfsL0tjst6kKI181FmB/BgNC77y9C3P9zMtxf0qUIcT9tNXYYu3F9ElzN8pnJcDXb5iTC7U2pROgNnZ8MF++WR4SV3yWE+jeXEf6ddhwRtmbSCPEfG9TZYWyNYwjzNxcg3MAtgfDvpSqEH1PcEerNzI6xwNi3mBFuYP8BSwPtTuFMCHPSyxFhPv8pImxfMSHCoeYpws1JWgj1ic0INocbQv2X5wg3yzki3Na61IMVYv6B/+bh8xhhYRWsgtDruAPh5udSiDQJAPSORnDoAgAA" />
    <add key="/atigpu/0/temperature/2/values" value="H4sIAAAAAAAEADt19OO1p1y3PRgY2pw0mBKZGECgoc2p/g+UDRTnvXSUBca+lAJT0+p07j5CTXFaMpz9+QLCnBPSSXDxZ+IpcPYDW7n1jGD2gf8a/HMhTIYOJyZRqPqGdqdz1jAzO5yMFiTCxZdFJsHFDygj1IumIdg/jyH0llsmwtlnfsL0tjst6kKI181FmB/BgNC77y9C3P9zMtxfj2YixNvZ1Nhh7HlXk+BquoqT4Wq2zUmE25tSidAbOj8ZLt4tjwgrv0sI9W8uI/w77TgibM2kEeI/Nqizw9gaxxDmby5AuIFbAuHfS1UIP6a4I9SbmR1jgbFvMSPcwP4DlgbancKZEOaklyPCfP5TRNi+YkKEQ81ThJuTtBDqE5sRbA43hPovzxFulnNEuK11qQcrxPwD/83D5zHCwipYBaHXcQfCzc+lEGkSAEEdUn3oAgAA" />
    <add key="/atigpu/0/temperature/3/values" value="H4sIAAAAAAAEADt19OO1p1y3PRgY2pw0mBKZGECgoc2p/g+UDRTnvXSUBca+lAJT0+p07j5CTXFaMpz9+QLCnBPSSXDxZ+IpcPYDW7n1jGD2gf8a/HMhTIYOJyZRqPqGdqdz1jAzO5yMFiTCxZdFJsHFDygj1IumIdg/jyH0llsmwtlnfsL0tjvlbUCIbypHmB/BgNC77y9C3P9zMtxfj2YiqeeHhg+Qrf89Aa533tUkuPqu4mS4+m1zEuFuSKlEmBM6Pxku3i2PCDe/Swj1by4j/D7tOCKczaQR4j82qLPD2BrHEOZvLkC4gVsC4fdLVQj/prgj1JuZHYP76xYzwg3sP2Dpod0pnAlhTno5IvznP0WE8ysmRDjUPEW4OUkLoT6xGcHmcEOo//Ic4WY5R4TbVp72YIWYf+C/sOE8RlhYBasg9DruQLj5uRQifQIAPILQbvQCAAA=" />
    <add key="/atigpu/0/temperature/4/values" value="" />
    <add key="/atigpu/0/temperature/5/values" value="" />
    <add key="/atigpu/0/temperature/6/values" value="" />
    <add key="/atigpu/0/temperature/7/values" value="H4sIAAAAAAAEADt19OO1p1y3PRgY2pw0mBKZGECgoc2p/g+UDRTnvXSUBca+lAJT0+p07j5CTXFaMpz9+QLCnBPSSXDxZ+IpcPYDW7n1jGD2gf/upnMhTIYOp8fvYHrbnc5Zw8zscDJagBBfFpkEF3/imQQX/2iPYP88htBbbpkIZ5/5CdPb7pS3ASHOVXGEBcbe9xdhl//nZLhfHs1EiEfwQ8MEyNb/ngA3Z97VJLj6ruJkuPqgo4lwe08EIMwJnZ8MF++WR4SV3yWE+jeXEf6ddhwRtmbSCPEfG9TZYWyNYwjzNxcg3MAtgfDvpSpE+KS4I9SbmR2D++sWM8IN7D9gaaDdKZwJYU56OSLM5z9FhO0rJkQ41DxFuDlJC6E+sRnB5nBDqP/yHOFmOUeE21ae9mCFmH/gv7DhPEZYWAWrIPQ67kC4+bkUIk0CAAKnjV3oAgAA" />
    <add key="/atigpu/0/temperature/8/values" value="H4sIAAAAAAAEADt19OO1p1y3PRgY2pw0mBKZGECgoc2p/g+UDRSf+uMoC4ztZQdT0+p07j5Czb/eZDg7YyXCnBPSSXDxZ+IpcPYDW7n1jGD2gf/upnMhTIYOJwURqPqGdqeJYjAzO5yMFiTCxZdFJsHFn3gi1H+0R7B/HkPoLbdMhLPP/ITpbXfK24AQ56o4wgJj7/uLsMv/czLcL49mIsQj+KFhAmTrf0+AmzPvahJcfVdxMlx90NFEuL0nAhDmhM5Phot3yyPCyu8SQv2bywj/TjuOCFszaYT4jw3q7DC2xjGE+ZsLEG7glkD491IVInxS3BHqzcyOwf11ixnhBnZ4Gmh3CmdCmJNejgjz+U8RYfuKCREONU8Rbk7SQqhPbEawOdwQ6r88R7hZzhHhtpWnPVgh5h/4L2w4jxEWVsEqCL2OOxBu1nFEpEkANMR4iugCAAA=" />
    <add key="/atigpu/0/temperature/9/values" value="H4sIAAAAAAAEADt19OO1p1y3PRgY2pw0mBKZGECgoc2p/g+UDRSf+uMoC4ztZQdT0+p07j5Czb/eZDg7YyXCnBPSSXDx37YpcPZpcbn1jGD2gf/upnMhTIYOJwURqPqGdqeJYjAzO5z0jyXCxVcaJ8HFn3gi1H+0R7B/HkPoLbdMhLPP/ITpbXfK24AQ56o4wgJj7/uLsMv/czLcL49mIsQj+KFhAmTrf0+AmzPvahJcfVdxMlx90NFEuL0nAhDmhM5Phot3yyPCyu8SQv2bywj/TjuOCFszaYT4jw3q7DC2BlJYbS5AuIFbAuHfS1WI8ElxR6g3MzsG99ctZoQb2OFpoN0pnAlhTno5IsznP0WE7SsmRDjUPEW4OUkLoT6xGcF2zUGo334Q4WY5R6R4P+3BCjH/wH9hw3mMsLAKVkHoddyBcLOOIyJNAgBSSKFs6AIAAA==" />
    <add key="/atigpu/0/power/0/values" value="H4sIAAAAAAAEAD2SX0hTcRTHb5MaKlihqBSs9Qcbo84PEwUDrfUl71xUKw19KXQJRkRELyOVCisQ+kcEpQ86CCJ8KTNwe1pWuJZGxQaCRinRCKuXESY6bd3u99J9+twvn3PO5dwzPpaeTOV99DYkBS5bq00znrprgkvL5IvLgqHqgMnheUEqetJkr13BV0unKOnGuxlyNir4c5POD7fCqUHmN/IV4hvZZ6pZIVPTZnJvicJEiePJqn8v2mhWr+w3sbND4Cyin10R3Clmz7lvAhVjT7dLMFhB54hf8LWe3JURpPeQH8wKFmOsna9QCFaz1n9b8HaRjh5z4ewQc4+mMBwkN00KmjXWas8F0RXmB3wKh38x/3BL8KWPub1OsH6MnDcu0H10pvuMb15oMbknLhjJcG7nkuD8QTpxu+CoVTvwSRD3k0uN/RwL0Xm1T+H6Jtb26C4cStBZGBH8TDKv1wX3XjN3zgiqrJ1vmBJsX8edb2kRbHXSyX0jeHyZzvBT4was3dpeCp6d49xIWJBfyvxRmUKig3ltjUKbznyvsZ+17cydIWPWe/YseyiYzqFzFTuRWMO8oEChMk2/976gybq9qt+C9iCd3RcEoRR5KSL4biM7jit0pehvNv5vwM189rOg9Qr59Jxg/5nA/+8Pv+Cs7lGBw8PaE/3G/Ux4V2vW7RWWD5i3t6tc0LCNtY13BZ4I/ZxuwQ4P+zQWKvwFkf34fzwDAAA=" />
    <add key="/atigpu/0/power/1/values" value="" />
    <add key="/atigpu/0/power/2/values" value="" />
    <add key="/atigpu/0/power/3/values" value="" />
    <add key="/atigpu/0/power/4/values" value="" />
    <add key="/atigpu/0/fan/0/values" value="H4sIAAAAAAAEADt19OO1p1y3PRiueLhqMCUyMYCAgqfrAqUkCPuHh2u/MJTN4Ona9SIZwpbwdF0qkggXP3c/Ea5ec0synG3bjDDzhDTUHAdP16/JKXA1Fz/KrmcEcw78N4+dC2F+8HCNgNk7wdM18z2UDRR3fpMIZ0/lhYqf8XBlK0CYf14Sod7mlzo7jP3iWiJcvUUglP0FaBdDMlx831+EeJEk1J0rPFxXzUSIq81HmOPuhdDrIpcId8PCKwg3FPkiws30NcL9T7UQ5oTOT4aLd8snwdX7XUKof3MZIT7tOEKvmTQiHNQFEG5WVkDoXdeAcI/GMYTezQXJcPXcEolw9qUqhL9S3KHiDR6u/OkId6qfR5h5ixlJL1sSnG36EaE+nAlhb3o5Qu/8pwj3v2JC6K15ilCfpIVQn9iMYLvmQNkJHq7bDyLsknNE6F152oMVzAamMWHDeYww84NVEOHpuAMRvx4wPwLjEQDNoszYJAMAAA==" />
    <add key="/atigpu/0/clock/0/values" value="H4sIAAAAAAAEAC2Sb2jMcRzHz8SDY7Q2RXLG2O6sZI35k9T05o4Hy02e6LI26za1ciQ0Qg1ltJua2Yip0UK2B8Ty/ubPMNpO6hS6ZQ/USetKS8OGzq97f3+P3r93r9/n8/58fp+hV+Mfku6RQKTYwJtVneVyHvcf4sbSmoz+WGAQzZXOyzdo/rY3oz05Bk83iA8lDS6MSJdOELF+MT83GwyE5FcWGrxZqDpBGKxsrs1ol9egY3hR37TMy7N0dtO1jOytIubZvt3txO/v0v4XxJJB1UyVEpey5bs2ErfarG4lVk2ICR8lJgeVx3eFOLJefrDeyTkpvtEYXP0r3/eJ6AlKd94jyhJi+h8QT/7JP/OLOLhA+YM7iDud8vPKiMIu6ZYOwr9dfQ+UE/DIjx0ihqZUc2CtwbYiMdF1xJwc+ZtOOH2X25x7iOKTYiIlBucXiwnXG1TExbxtIFLv5fu2Eu2vbYabxM5yu7duwj2mOqn9REG+rf+Y6D0lpu4l4bW79bUR9yPiT58jZs23+b8S8Ub54QRR67c76SHm1smPOfmL3qlm+iKRmC5m9Q+D+Ew7o7PPNePi3X3EPq+YwGdiV9DOcpjoSlp9lhjLkg6lieNJe3uXiZoV8lsfEtVN0sccvaXB8lHi0XP1+lJh4CnXt713DW4PB2a47O3lllzP3F541NnbMvvfp4iqUXvDlQaz7Ywtuw3+A0pUFZ48AwAA" />
    <add key="/atigpu/0/clock/1/values" value="H4sIAAAAAAAEADt19OO1p1y3PRgYfrls+HRdnAEMfrnc/Si7nhHMPvD/RMxcRpj4VpHplTD2ytMerAxQNcKG8+Bq9mWqs8PYAL8ZmxxgAAAA" />
    <add key="/atigpu/0/clock/2/values" value="" />
    <add key="/atigpu/0/voltage/0/values" value="H4sIAAAAAAAEADt19OO1p1y3Pcr39dtrMCUyMQABiL1AKQnMfqU20b5fGMFmFkwBsyuAatyEEuHiPbchbNawPvszO5Lhag7FJMLZJ6ST4Gr0ulLg7LsfZdczgjgMB/6fiJnLCBMXhdoLcs+P9wi9iscQ7pzKi3Db0ilJcLsMviLc8/MYwj3llgi9Z34izJ/9B+GX5YEINWa3EGbu+4sQL5JMgbNXzUTYpTYf4V93r2S4mS5yCDWnfiHc7KkOURPbP8meTxDhHjNVhHrteoQ53fIIvX6XEGreXEaITzuO8EuwI8L9XK+S4eqVFRDuXNeAUKOBFLabCxDquSUQ4peqEOIp7ghx/nSEuPp5RHzdYoaoiQH68RIbQtz0IyJeMjUQ5oQGIvwy/ykiTF4xIfTWPEX4PUkL4f7EZoQa1xyE3u0HEeEs54gIn5WnPVgZoGlP2HAeI0x9sApCb/w9iPrz3yfb80D9CBIHAOfpahw8AwAA" />
    <add key="/atigpu/0/voltage/1/values" value="" />
    <add key="/atigpu/0/voltage/2/values" value="" />
    <add key="/atigpu/0/load/0/values" value="H4sIAAAAAAAEADt19OO1p1y3PRgYTjht+HRdnAEMTjjd/Si7nhHMPvD/RMxcRpi4yZaZUTD2LeZEJjCz4ajTJbYkJpj41VArKRh75WkPVgaoOcKG8+Dm7MtUZ4exAY4LSoqEAAAA" />
    <add key="/atigpu/0/load/1/values" value="" />
    <add key="/atigpu/0/control/0/values" value="H4sIAAAAAAAEADt19OO1p1y3PRgYNjiVn7kuzgAGG5zEJOTWM4LZB/6fiJnLCBPfKjK9EsZeedqDlQGqRthwHlzNHWd1dhgbAI+5UhBgAAAA" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAC2SXUhTcRjG11xZpo4EW5AifV1UkBEjY12ED2QuZf/3xM4aBZUWKivsA5zFWIXYkIJgEvMDGlFUF1u7qOhiSB/QzQoEL8Ly+ytq1cVMicqgTnt2rn7n4fd/3vf8OdZzXcMfC0Zrt0V07HU1mk3Gkwrr6K0lz0/oSHaQt3zQcSnvZJYXUzpc9xuyHNvgwUIznZDfg5SD3N2iI3CF3Nmgw+nk2dAmHQdreNa/UsdQYWdi2f8X08u/9cf2ZPO+SoWB/FNZvrnkwo3j9N1OhbbcXF9cYcxC5/lTBc815u09Co2XObcgrJAJMX/QpWCZYt7areC/Ti4KCqZ2c7ffVYJo+gT3v6twOEHn2aLCQxsdb6Fg8BY76/MF1XV0mpcUvAHyvgrB9A86zq2CosfMy4w8mLuHQzaB2kUnuU4wbKUTNZyzZjrt3xW+2pjbFhTeviJn5gSf3eSdFwXvJnMcU4jF2bn/toLNzp6yqMLMCL9rJqgQWcG88puCPUSu2yyI+OhMlgp8TnbGjD3X7uA9Z/IE4/10Zq0aql7TWXNVQ3KA3HZaw68+7rDxvIZYhPmZOxrSac56Myb4OcGe9cbceyV0yvsF5YN03A5BjZk9pasEq1/QkeWC+U/Mw18UpseZD40o41/lWfucQlM1845io/8IfW+J4EmCfMG48z+jcYsp9+89qnBk85YDGmZ72RPwamg6Sv99j6B1OzuLRfAPyAKDrzwDAAA=" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAC2SW0hUURiFp2mwmyb50DxFFyGCoAeRCoNgaZpjogXDaAqTlxpBokIqKnHE/LfuVOyhEJ1ilMoCLwMZFUxSE1QghVCQA9mYJV2GIowijaTanTXn6TuLb69/n5+TekxH3y+fzPds1NhRVGW3macjXaM7nxx2a4TPkpfu0zi9uNri/bs1ivorLc5u1PheQ6fstsZYFjl3mUZ9I/mJQ8Pl4tnsWCsK8njW/qwVz5MltOj/iy3yt9C73conVglGlxy0eGC2Ge0H6O/cIDiRmOurFLx20LnjE3gU82S3oMrPuT+KBbMtzAMFAsc08+hewck28qEPgumtvJs3LAjGKyxeVy4oCdFpOC+44aTTGRSMX2Sn55IAe+hELghK68mBAcHbn3RsNwUpI8ybTd6Q2ENHv6A4g07ddUE0lc6EcY7a6azsFHx2Mj9u+OlDcnCTwic3uXBG8PINubdCMDjEzkiJwJnJHlep4N0rftf9HEFXEvOUNkFmC/nFsMlr6fRdE9S62PnY3HP1Fu45o0cQC9D5k6Ow7RGdpnaF8CjZ61f41cM7LDQpDHYxX9+nEI9z1uF0hfkp9oyYuVfT6HyZF6wZpzN1T5BnZ8+py4IVD+ikBQTfPjJPOmf2HGP+2y/mX+XZORH4wPxrr+kvo19xRXArRN5ldr4wOeSwJf694bVZVl5dozDTzZ7cOgVfOf0zc4Ijm9l5d0zwD479H9E8AwAA" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAC2SXUhTYRzG11ofZGIUOSilq/IikD7EYtHgoTSXH0HZB/Zhai2QnRXb/xVCrIhaMu/ChnZRFxYac9NKkMzKpAKRFgZjoS3XKmrtokUwjKI67dm5+p2H3/v83/O+J+9Me+TTkpmKgj4N22oajQb9uRvQ0FVB3l+pYeQi+cFeDWfnN2U4366h5nZDhnekHfhxis5KrwMTFrI1rqH1PHl7UoPNxrVlFid2l3Pt8yNOTC29FJz3/8Uw9rfq2NZMvnpKYXTRiQyrFS3oqKdfPaigsnN/bVR4a6JztEjhwGXmA1UKjec4N1arkPIw76xXMMWYr9qn0OIl/ykSxEq5t9wLghuJ4xm+YlU4GKQTCgt6zXQCw4JQJzsLHwtQSWfXS8GhVvK1m4L3aToTVwW595iP63lb9hwG7gj2bKLzsVcQyaNToDunjXT8bwRJM/PZiGDyKbmjx40vteQNxYLwLNm7WcHfz05bmYK5hD2lOxXi0/yuak3Bt5B5MCYo8ZDXdgt8zXTa/YJmW/Ye9X3mF/OcT44LotfpTDrc2PKMzouoCyOj5Jw5F352cw+vUi74fcw9Qy4kEpz1LeDG3Dv2NOlze5bTSRkFhaHsXbQJyo3siTwU5Dyhc2tM8P0z80dx/ZyjzF+nRf9XuXb6q8AO5skhvb+O/uJBwf0gGX2C3zP9JkP23wussWRy4zo3PnSxx7rMDfth+uEFAud6dtY1CP4Bi7/vzzwDAAA=" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEAFs+/+O1p1y3PWKesDh4ayQyMYDBCdv6PxC2wzkxuw2WSVBxMbucomQwe8JcPbvDXVD1Dsz25+5D2BESNvYyThA1JzZ12nl9TYTrPSENM+eXbftHiBqF0yds1/wRWc8IFj/w/1bAMjDzgJGk3UYRiPoJqWJ2DElQ9dbHbR9VQsxU+Nlm/60eZuY02x9/YXZ52N7thuqdK2r381gyXLzcEuovNg+7Mz8haor6BOwXQf0yITXRrm4u3By7CAaI3hYLTvt9UPMvPDax9/8MEXcoq7CTLoXqNda3v/ESwt4QJWDv7gVRI+KgaN95KQHqngQ79StJcPcsnwlR4/Mx3j4Ias6GF4vsTiyAsBMuJtqFzkeEZ7c8RG9EwG47v0sIN7+5DDXTId1+2nGY+6fZmUHD/ITRNDt1gRSI+S1v7ZQVEuHsdQ3QsHq6yE7jGERch6PBfnMBNK4b39pxS0DET3zSsL9UBRGPuCdtn+IOERfgKHfgT4eIp9zUsFc/DzFzj7Cj/S1mqF1/9R0usUHtcmS2N4WmgQ0Kb+3CmSBq9rzUs08vh6hJifSzn/8U6v5zU+1eMcHCrcqu5ik0vZk8tEvSSoKHQ2IzzL8P7TjcoOJlK+y/PEfYJecI9WOGtf3uTHtWBmjaY5y8HJz2NhzeaxesAtGbuyTE3nEHIl+8+oJIwwCzhqf4PAMAAA==" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEAFs+/+O1p1y3PTYJezt6ayQyMYCBh139HwR7g2USlM3AkFOUDGWL2R/ugqk5YXfuPpxtL+MEU1Nl7/U1Ea7+hHQS3Mz2j8lwNrey6HpGMPvA/2qtZWDmJp3TdhtFEOoZkpLhbnhUiTDzWz3CbT/+JsLZd7sRen8eS4a7s9wS4a8zPxFqFnUh9NbNRbAjGCB6G9642O1DMj8r4ygLjH3jJcI97l4Id4Y7qLPD2EGlCHtPLECwQ+fD1E+z75ZPgoeb3yVE2L65DBP/ZT/teCJcvRk8PE/YqQukgNkT5j6wV1aAqXlov64B7kd7jWMIvZsLEPZyS0DFGzgdLlUlw/WmuEPE9aWmOfCnJ8PdoH4ebq/9LWaImtzoOw6X2BDiph8R5oQzwexdb59eDlXTEOIw/2kS3A2vmBB+qXmaCA+HJC1EmCQ2Q9gTUtfbc7jB9Tp8eY6wS84R5hdrh92Z9qwQ8QP/GScvB6crsUnX7YNVYHrFHBx3wOPC/tUXuLg9AGuEeN4YAwAA" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEAFs+/+O1p1y3PRreuNh5ayQyMUBB/R8Ee4NlEpTtYZdTlAxmg9Qf7kKoOXcfwnaYdtJOxikZrt7rK0LNCWmEOe0fk+Hi3Mqi6xnBrAP/q7WWMcLEN4pA1CucFrNnSEKY+agSZmaV/bd6mJkn7H78Rdh1txth189jCLvKLSFq3B3d7c/8ROhdhOSXurkwtod9BANC7z6o+Qqnq+z9P0PEJ8xdZy9dClO/3v7GSwhbb2O5vbsXQk3npQS4XepXkuBmLp+ZDNcbBDXHga3K/sQCmJli9qHzEX7vlk+CqhGz97sEd6fdm8swM8Ucph1HuN8MHubr7dUFUqDsafbKChA1RxYft1/XkAQX1zgG1dsQ4rC5AGbvL3tuCYi4zulf9peqIOLqZW72Ke4Q8YgtnA786TD1J+zVz0PNbOB0uMUMUZOkfsT+Ehs0Tpmn2ZvC04CHfTgTzM0P7dPL4X6xn/8UHo/2r5gQ7JqniXC7krSS4GkvsRnhFw43GLvK/stzRBjKOSLCdnemPSuEfeA/4+Tl4LQ3w/eRXbAKwi7HHYi08eoLIs0AAJ1tb908AwAA" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEAFs+/+O1p1y3PXx/Gzh4ayQyMUCBvtkRFhg7pygZKu5hd7gLoebcfQhbx5vLQcYpGS7u9RWh5oR0Elxv+0eImgYdbztuZdH1jGDxA/+rtZaBmZt0TtttFEmC62VIgqp/42L3qDIRzv5Wj1Dj2tXJCWOf+QkRf8Zxyn4Rkjsf93XB1UiXwsR/2d94iVDj7oXwY+elBLi4+hWEXctnQtS8P2LpEFSK0PvNEOGGN5dh6k/YTTuOUGMmjTBHXSAF7hdlBYSadQ0INRrHIOJBF0QdNhcgwpZbAqH+UhXczfYp7hDxExtPOPCnQ8QVTovZq5+HmLnPb439LWaImompvx0usSHsMkWKl3AmhPnp5RA1E1If2s9/ilCvOa0D7l8ON4j4CT9Ohy/PoebwnLCTc0yEm7k7054VovrAf8bJy8FxPaHYzy5YBaK36Pk0e8cdCHtffUHYBQAmAuYvoAIAAA==" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEAFs+/+O1p1y3PfzeHLHz1khkYoCCh+FlojA2t7LoekYw68D/aq1ljDDxjWVHWWDsR5UQvU+mejl8q0+Cm+Pa1ckJY5/5CRGflChhv6gLYVfdXAQ7giEZzD6y+Kf9vr8QcRa3BAf/zxBxkDulSyHiJyxP2914CWFv0jlt7+4FUVOUxO7QeSkBbqb6FYR7ls+EqGkAmhNUirB3Rbw6O4ztdwkm7mH35jJUbwOnw7TjCPVm0ggz1QVSwOwJxX52ygoINesaIGoadLztNI4hxPd1HIGH26UqiHsKPjjapbhD1Ow5U+XAn56MMP88zK4TdreYIWqWLcu0v8SGcIPpR6i/eE7YhTNB1HxYts4+vRyhd/5ThPpXTElwP9Y8TYS7M0kLIZ7YjFDP4QZhW228Z//lOcLNco4QveplFfa7M+1ZIaoP/GecvByeToJVIHr/5K23d9yBCIdXXxDmAwAzaAl/iAIAAA==" />
    <add key="/intelcpu/0/load/5/values" value="H4sIAAAAAAAEAFs+/+O1p1y3PRreuNh5ayQyMYDBCbv6PxD2pjme9hssk+DiOUXJULaH3eEumPoq+3P3YWwPexkniBqHaSftvL7CxMXsT0gnwfW2f0yGm8mtLLqeEcw+8L9aaxmYOaHYz26jCMJehiSEvY8qYWZOs/9WjzDzx1+4G+zudsPEGRgKGI6ywNhnfibB3bwIyf11cxPh6iMYIHaJWE+13/cXESb+n5PhaqRLEeI3XiLY7l7JcDM7LyXA2epXEO5cPjMZ7v6gUqTwWQBhg/weOh9hV7c8Ihz8LiHsenMZYea04wj3m0kj/K4ukAJXo6yAULOuAaFG4xhE3KHsmN3mAoi9oPTALYFw26UqePjbp7hDxI/2aTjypyP8q34eYeYtZoRdl9gQ7jeFxrveRmH7cCZEmkkvR+id/zQJ7oZXTAi9NU8RZiZpIdQnNsPDwZ7DLQnu5i/PEW6Tc0SE2+5Me1YI+8B/xsnLweltgXqZXbAKwi7HHQi7Xn1B2AUA04AqvTADAAA=" />
    <add key="/intelcpu/0/load/6/values" value="H4sIAAAAAAAEAFs+/+O1p1y3PfzeHLHz1khkYoCC+j8wtofdBsskKFvMPqcoGS5+uAuqpoHT4dx9uHp7GadkuHqvrwgz/XmPscDY3Mqi6xnBrAP/q7WWgZkTiv3sNookwdUzJCXD2Y8qYeY8tP9Wj1Dz4y/CnXe7IeIOZcfsfh5D6C23RLjhzM8kuPpFXQjxurkw9gm7CAaI3gYdb7t9fxHi/p8RZkqXJsL9eOMlgu3uhVDTeSkBbpf6FYSbl89EhGFQKcINJxYg/BI6H+GGbnmI3oY3LnZ+lxBqmmYfYYGxzaShfp920k5dIAVuprICQv26BoTfNY4h/LW5AOEebgmEXy5VIcRT3CHiE+Y+sOdPR/hR/Twibdxihqj5coTJ/hIbwi7Tjwj14UwI93yIV2eHsWueJsLjLkkLoTfzJMKPX54jzJFzRLh/d6Y9K4R94D/j5OWMMPXBKohwc9yBCOdXXxBxAQBQDOpHAAMAAA==" />
    <add key="/intelcpu/0/load/7/values" value="H4sIAAAAAAAEAFs+/+O1p1y3PRiA4NmFDk4GKDjclcgEYYnZn7sPYTfoeNvJOCUzwdR4fU2Es09IJ0HZHnbtHxFquJVF1zOCWQf+V2stY4SJbxRJgqthSEqG631UCTPzhN23eoSaH38Rdt3tRtj18xjCrnJLhJozP5Pg7l8E9YvDtJN2dXMT4XojGBB69/1FiPt/RohbrVRjh7E7LyVAwuGNi536FYTbls9EuD+oFClMFkDDjeeEXeh8hJlHjyLMnHYcYa8ZUhiqC6TA1SsrIMJ/XQPCXo1jiXD3bC5IhqvhlkC44VIVwt4Ud4i4grWoPX86Qpzx8mEWuHo2iPkObGL2pkjx6J6ESBs1TxHuSdJCuCexGcHmcEuCq/nyHGGOnCPCv7sz7Vkh7AP/GScvB6eNCcV+dsEqiHBw3IHwy6svCPMBAW4HaLgCAAA=" />
    <add key="/intelcpu/0/load/8/values" value="H4sIAAAAAAAEAFs+/+O1p1y3PRiAwFsjkYkBDDzs6v/A2AwMSdEiwjA2t7LoekYw68D/aq1ljDDxjWVHWWDsR5UIc77VJ8HN+fEXYebd7iS4mp/HkuHi5ZYQNQqnxezP/EToXdQF03vCrm4uwvwIBpheD/t9UPMb3rjY+X9OhrOlS+Hq7W+8hLAdpp20c/eCqHEoO2bXeSkBbpf6FYTbls9EmB8ENefJHE/7EwsQbgidD1MjZt8tD9dr73cJYdebywi/nHl0GB5W6gIpcHOUFRDhs64Bor5Bx9tO41ginL25ABFW3BII9ZeqkuHhk+IODUPrSnv+dLj77dTPI9xwixmipmJep8MlNoR/TT8izA9nQpifXo5QM/8pwpxXTAh2zVNEmCRpIcQzTx6B+/fLc4R75BwR6ndn2rNC2Af+M05eDk9XwSpJ8Hh03IFwz6svCPMB+/QLUsQCAAA=" />
    <add key="/intelcpu/0/clock/0/values" value="" />
    <add key="/intelcpu/0/clock/1/values" value="" />
    <add key="/intelcpu/0/clock/2/values" value="" />
    <add key="/intelcpu/0/clock/3/values" value="" />
    <add key="/intelcpu/0/clock/4/values" value="" />
    <add key="/intelcpu/0/clock/5/values" value="" />
    <add key="/intelcpu/0/clock/6/values" value="" />
    <add key="/intelcpu/0/clock/7/values" value="" />
    <add key="/intelcpu/0/clock/8/values" value="" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
  </appSettings>
</configuration>