<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/5/plot" value="false" />
    <add key="/intelcpu/0/load/6/plot" value="false" />
    <add key="/intelcpu/0/load/7/plot" value="false" />
    <add key="/intelcpu/0/load/8/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/control/0/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/ram/load/0/values" value="" />
    <add key="/ram/data/0/values" value="" />
    <add key="/ram/data/1/values" value="" />
    <add key="/nvidiagpu/0/temperature/0/values" value="" />
    <add key="/nvidiagpu/0/clock/0/values" value="" />
    <add key="/nvidiagpu/0/clock/1/values" value="" />
    <add key="/nvidiagpu/0/clock/2/values" value="" />
    <add key="/nvidiagpu/0/load/0/values" value="" />
    <add key="/nvidiagpu/0/load/1/values" value="" />
    <add key="/nvidiagpu/0/load/2/values" value="" />
    <add key="/nvidiagpu/0/load/3/values" value="" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="" />
    <add key="/nvidiagpu/0/control/0/values" value="" />
    <add key="/hdd/0/load/0/values" value="" />
    <add key="mainForm.Location.X" value="448" />
    <add key="mainForm.Location.Y" value="44" />
    <add key="mainForm.Width" value="470" />
    <add key="mainForm.Height" value="640" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEAO29B2AcSZYlJi9tynt/SvVK1+B0oQiAYBMk2JBAEOzBiM3mkuwdaUcjKasqgcplVmVdZhZAzO2dvPfee++999577733ujudTif33/8/XGZkAWz2zkrayZ4hgKrIHz9+fB8/It78Ov/kH/13/XP/zrf/gKNf+ns+rPJf69eg50/693+t3+NfmRX8+7909Vv9Hn/vD0r+/duH//LRf/J7zvj3/2rxNxwd/VMX/Pvv/d/9UUd3/gD5/O9a/6qjX/M7b/n3w5/6PX6P/+ZXCcx//Pd69nv8a5/J57/O3/yP/B7/8rl8/gf8+//h0Zf/t/T1P/0Lf9fR3/xH/7TA+TX/7qM/8pefS5vf+j88+hfvSl+Pf8f/8Oj/AacFzlm0AAAA" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEAO29B2AcSZYlJi9tynt/SvVK1+B0oQiAYBMk2JBAEOzBiM3mkuwdaUcjKasqgcplVmVdZhZAzO2dvPfee++999577733ujudTif33/8/XGZkAWz2zkrayZ4hgKrIHz9+fB8/It78Ov/kH/13/XP/zrd/q//oTzt+WOW/1q9Bz/P/7vXv+a/MCv79H3vx+/2ef+8PSv79xX/39Pf8T37PGf/+L/73v+vvefRPXfDvf9O/9b/9Hnf+APn8tzr8rX/PX/M7b/n3P+dXrn/P/+ZXCcy/4Pf+XX/Pf+0z+fwv+zv/4N/zXz6Xz//+f/fZ7/nl/y191ZNf//f8m//on+bfJx//r7/HH/nLz/n3z//0V7/nv3hX+nr85776Pf8fhT9AXrQAAAA=" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEAO29B2AcSZYlJi9tynt/SvVK1+B0oQiAYBMk2JBAEOzBiM3mkuwdaUcjKasqgcplVmVdZhZAzO2dvPfee++999577733ujudTif33/8/XGZkAWz2zkrayZ4hgKrIHz9+fB8/It78Ov/kH/13/XP/zrc/+if/5t/jYZX/Wr8GP98++ldmBf/+e17+E0d/7w9K/fzX+DX+k99zZtsc/VMX9vc7f4B8/gf9eWe/x6/5nbf28//mVwnMf+/tn/F7/Gufyee/9Nd++nv+y+emr1/j1/jy/y5s+7/5j/5pgfPfPT36I3/5uW3zL941ff0av8b/A+lmdly0AAAA" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEAO29B2AcSZYlJi9tynt/SvVK1+B0oQiAYBMk2JBAEOzBiM3mkuwdaUcjKasqgcplVmVdZhZAzO2dvPfee++999577733ujudTif33/8/XGZkAWz2zkrayZ4hgKrIHz9+fB8/It78Ov/kH/13/XP/zrf/qgd/+e/5sMp/rV9Dn3/j27/eb2R+/zW/85Y//4P+u6dH/82vcm3+tc/k89/z8p84+pfP3edf/t+F/f1v/qN/mn9f/U/HR3/kLz+3n/+Ldy/s7/8PXt5AD4QAAAA=" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEAO29B2AcSZYlJi9tynt/SvVK1+B0oQiAYBMk2JBAEOzBiM3mkuwdaUcjKasqgcplVmVdZhZAzO2dvPfee++999577733ujudTif33/8/XGZkAWz2zkrayZ4hgKrIHz9+fB8/It78Ov/kH/13/XP/zrcnv+tv+Hs8rPJf69fQ5x/+4/7N38z8/q999lY///bRv3zu2vzkX/+X/Jj5/f8BF7ur5EgAAAA=" />
    <add key="/intelcpu/0/load/5/values" value="H4sIAAAAAAAEAO29B2AcSZYlJi9tynt/SvVK1+B0oQiAYBMk2JBAEOzBiM3mkuwdaUcjKasqgcplVmVdZhZAzO2dvPfee++999577733ujudTif33/8/XGZkAWz2zkrayZ4hgKrIHz9+fB8/It78Ov/kH/13/XP/zrd3/oS/8fd4WOW/1q+hz1//X/3FP2Z+v/MHzPjz1f90fPRrfuetbfPf/Cpp/3vfu/w9/rXP5PM/6Df69u/xL5/L53/Qf/f06Mv/u7C//81/9E/bd3/yd/sXfh3z+/8DhnMot4QAAAA=" />
    <add key="/intelcpu/0/load/6/values" value="H4sIAAAAAAAEAO29B2AcSZYlJi9tynt/SvVK1+B0oQiAYBMk2JBAEOzBiM3mkuwdaUcjKasqgcplVmVdZhZAzO2dvPfee++999577733ujudTif33/8/XGZkAWz2zkrayZ4hgKrIHz9+fB8/It78Ov/kH/13/XP/zrf/uz/5f/09Hlb5r/Vr6POvzAr9/dtHf+8PSv79D/rvnh79J7/nzLa52Prnfh3z+6/5nbf8+e95+U8c/Te/SuD8vn/Is9/jX/tMPv8Dfuxv/D3+5XP5/A8a/V5HX/7fBv6v8Wv8zX/0T+vv/9TRH/nLz+3n/+LdC/v7/wOt4NuPqAAAAA==" />
    <add key="/intelcpu/0/load/7/values" value="H4sIAAAAAAAEAO29B2AcSZYlJi9tynt/SvVK1+B0oQiAYBMk2JBAEOzBiM3mkuwdaUcjKasqgcplVmVdZhZAzO2dvPfee++999577733ujudTif33/8/XGZkAWz2zkrayZ4hgKrIHz9+fB8/It78Ov/kH/13/XP/zrf/04M/4fd4WOW/1q/Bz7eP/pVZwb8f/G//2NHf+4NSP/81fo30x/65X8f8fucPmPHnf9Do9zr6Nb/zln//TY7+9N/jv/lVAuf3vvdb/B7/2mfy+ceXz36Pf/ncwP81fo0v/2+B/wf9d0+P/uY/+qdtv3/kLz+3bf7Fuxf29/8Hr2BnDqgAAAA=" />
    <add key="/intelcpu/0/load/8/values" value="H4sIAAAAAAAEAO29B2AcSZYlJi9tynt/SvVK1+B0oQiAYBMk2JBAEOzBiM3mkuwdaUcjKasqgcplVmVdZhZAzO2dvPfee++999577733ujudTif33/8/XGZkAWz2zkrayZ4hgKrIHz9+fB8/It78Ov/kH/13/XP/zrfffPWv/x4Pq/zX+jXo+T0v/4mjf2VW8O9/0Oj3Ovp7f1Dy73jSH/vnfh3z+50/YCZtfqN/6ujX/M5bbfPto//mVwmcP+i/e3r0r30mn7/8e/7x3+NfPs8tnC//b4VPbf7mP/qn7ed/5C8/t3D+xbsX9vf/B1UUN5GoAAAA" />
    <add key="/intelcpu/0/clock/0/values" value="" />
    <add key="/intelcpu/0/clock/1/values" value="" />
    <add key="/intelcpu/0/clock/2/values" value="" />
    <add key="/intelcpu/0/clock/3/values" value="" />
    <add key="/intelcpu/0/clock/4/values" value="" />
    <add key="/intelcpu/0/clock/5/values" value="" />
    <add key="/intelcpu/0/clock/6/values" value="" />
    <add key="/intelcpu/0/clock/7/values" value="" />
    <add key="/intelcpu/0/clock/8/values" value="" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
  </appSettings>
</configuration>