<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/5/plot" value="false" />
    <add key="/intelcpu/0/load/6/plot" value="false" />
    <add key="/intelcpu/0/load/7/plot" value="false" />
    <add key="/intelcpu/0/load/8/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/control/0/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/atigpu/0/control/0/plot" value="false" />
    <add key="/atigpu/0/fan/0/plot" value="false" />
    <add key="/atigpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/values" value="" />
    <add key="/nvidiagpu/0/clock/0/values" value="" />
    <add key="/nvidiagpu/0/clock/1/values" value="" />
    <add key="/nvidiagpu/0/clock/2/values" value="" />
    <add key="/nvidiagpu/0/load/0/values" value="" />
    <add key="/nvidiagpu/0/load/1/values" value="" />
    <add key="/nvidiagpu/0/load/2/values" value="" />
    <add key="/nvidiagpu/0/load/3/values" value="" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="" />
    <add key="/nvidiagpu/0/control/0/values" value="" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="mainForm.Location.X" value="901" />
    <add key="mainForm.Location.Y" value="43" />
    <add key="mainForm.Width" value="470" />
    <add key="mainForm.Height" value="640" />
    <add key="/hdd/0/temperature/0/values" value="" />
    <add key="/atigpu/0/control/0/values" value="" />
    <add key="/atigpu/0/load/0/values" value="" />
    <add key="/atigpu/0/voltage/0/values" value="" />
    <add key="/atigpu/0/clock/1/values" value="" />
    <add key="/atigpu/0/clock/0/values" value="" />
    <add key="/atigpu/0/fan/0/values" value="" />
    <add key="/atigpu/0/temperature/0/values" value="" />
    <add key="/ram/data/1/values" value="" />
    <add key="/ram/data/0/values" value="" />
    <add key="/ram/load/0/values" value="" />
    <add key="/hdd/2/load/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="/hdd/1/temperature/0/plot" value="false" />
    <add key="/atigpu/0/load/0/plot" value="false" />
    <add key="/atigpu/0/voltage/0/plot" value="false" />
    <add key="/atigpu/0/clock/1/plot" value="false" />
    <add key="/atigpu/0/clock/0/plot" value="false" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
    <add key="/hdd/0/load/0/values" value="" />
    <add key="/hdd/1/temperature/0/values" value="" />
    <add key="/hdd/1/load/0/values" value="" />
    <add key="/hdd/2/load/0/values" value="" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEAO29B2AcSZYlJi9tynt/SvVK1+B0oQiAYBMk2JBAEOzBiM3mkuwdaUcjKasqgcplVmVdZhZAzO2dvPfee++999577733ujudTif33/8/XGZkAWz2zkrayZ4hgKrIHz9+fB8/Iv6L3/GP/63+7eTf/fav8Wv8Q//3f/NP/1W/5q9Bzx/w8fr3+P1+++mv9Wvw8+3P/qK/OdPf/6nP3v7rE/39B0fP/2Lz+//+2f8DDuqy4kgAAAA=" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEAO29B2AcSZYlJi9tynt/SvVK1+B0oQiAYBMk2JBAEOzBiM3mkuwdaUcjKasqgcplVmVdZhZAzO2dvPfee++999577733ujudTif33/8/XGZkAWz2zkrayZ4hgKrIHz9+fB8/In69J3/8b/VvJ//ut3+NX+Mf+r//mb/0r/o1fw16/rni3/g9f7/ffvpr/Rr6/IZ/5D/265jfn//FE/38nzr6fwCHe+jjPAAAAA==" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEAO29B2AcSZYlJi9tynt/SvVK1+B0oQiAYBMk2JBAEOzBiM3mkuwdaUcjKasqgcplVmVdZhZAzO2dvPfee++999577733ujudTif33/8/XGZkAWz2zkrayZ4hgKrIHz9+fB8/In69J3/8b/VvJ//ut3+NX+Mf+r//mb/0r/o1fw19/q9/5h/7dczvb//1ya8lv3376PlfbH7/NX6N/wca52H0PAAAAA==" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEAO29B2AcSZYlJi9tynt/SvVK1+B0oQiAYBMk2JBAEOzBiM3mkuwdaUcjKasqgcplVmVdZhZAzO2dvPfee++999577733ujudTif33/8/XGZkAWz2zkrayZ4hgKrIHz9+fB8/In69J3/8b/VvJ//ut3+NX+Mf+r//mb/0r/o1fw19/vbjP+bHzO//D3vCD2skAAAA" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEAO29B2AcSZYlJi9tynt/SvVK1+B0oQiAYBMk2JBAEOzBiM3mkuwdaUcjKasqgcplVmVdZhZAzO2dvPfee++999577733ujudTif33/8/XGZkAWz2zkrayZ4hgKrIHz9+fB8/In69J3/8b/VvJ//ut3+NX+Mf+r//mb/0r/o1fw19/q9/5h/7dczvb//1ya8lv3376PlfbH7/NX6N/wca52H0PAAAAA==" />
    <add key="/intelcpu/0/load/5/values" value="H4sIAAAAAAAEAO29B2AcSZYlJi9tynt/SvVK1+B0oQiAYBMk2JBAEOzBiM3mkuwdaUcjKasqgcplVmVdZhZAzO2dvPfee++999577733ujudTif33/8/XGZkAWz2zkrayZ4hgKrIHz9+fB8/In69J3/8b/VvJ//ut3+NX+Mf+r//mb/0r/o1fw19fr/ffvpryW/fPvqL/uZMf/+njt7+6xP9/W/8PZ7/xeb3bx/9P+Da9mNIAAAA" />
    <add key="/intelcpu/0/load/6/values" value="H4sIAAAAAAAEAO29B2AcSZYlJi9tynt/SvVK1+B0oQiAYBMk2JBAEOzBiM3mkuwdaUcjKasqgcplVmVdZhZAzO2dvPfee++999577733ujudTif33/8/XGZkAWz2zkrayZ4hgKrIHz9+fB8/In69J3/8b/VvJ//ut3+NX+Mf+r//mb/0r/o1fw16/q4/7784+v1+++mv9Wvo8xf9zZn9/e2/PtHfv330/C82v/8av8b/AxS3eehIAAAA" />
    <add key="/intelcpu/0/load/7/values" value="H4sIAAAAAAAEAO29B2AcSZYlJi9tynt/SvVK1+B0oQiAYBMk2JBAEOzBiM3mkuwdaUcjKasqgcplVmVdZhZAzO2dvPfee++999577733ujudTif33/8/XGZkAWz2zkrayZ4hgKrIHz9+fB8/In69J3/8b/VvJ//ut3+NX+Mf+r//mb/0r/o1fw16/q4/7w85+v1+++mv9Wvw8+2jv+hvzvT3f+ro7b8+0d9/jV/j+V9sfv/20f8DgLi9qUgAAAA=" />
    <add key="/intelcpu/0/load/8/values" value="H4sIAAAAAAAEAO29B2AcSZYlJi9tynt/SvVK1+B0oQiAYBMk2JBAEOzBiM3mkuwdaUcjKasqgcplVmVdZhZAzO2dvPfee++999577733ujudTif33/8/XGZkAWz2zkrayZ4hgKrIHz9+fB8/In69J3/8b/VvJ//ut3+NX+Mf+r//mb/0r/o1fw16/q4/7w85+v1+++mv9Wvo8xv+kf/Yr2N+f/4XT/Tzbx/9P2g6LxA8AAAA" />
    <add key="/intelcpu/0/clock/0/values" value="" />
    <add key="/intelcpu/0/clock/1/values" value="" />
    <add key="/intelcpu/0/clock/2/values" value="" />
    <add key="/intelcpu/0/clock/3/values" value="" />
    <add key="/intelcpu/0/clock/4/values" value="" />
    <add key="/intelcpu/0/clock/5/values" value="" />
    <add key="/intelcpu/0/clock/6/values" value="" />
    <add key="/intelcpu/0/clock/7/values" value="" />
    <add key="/intelcpu/0/clock/8/values" value="" />
  </appSettings>
</configuration>